* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color:bisque;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
}

ul,li,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}